:root {
  --blue: rgb(45, 169, 230);
}

body {
  background-image: url(background.jpg);
  background-color: #292a2d;
  text-align: center;
}

.main-title p {
  font-size: 170px;
  font-family: "Neonderthaw", cursive;
  margin: 20px;
}

.neon-text {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #5271ff,
    0 0 82px var(--blue), 0 0 92px var(--blue), 0 0 102px var(--blue),
    0 0 151px var(--blue);
}

.projects-container {
  color: white;
  font-family: "Dawning of a New Day", cursive;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  font-weight: 100;
}

.projects-container p {
  font-size: 80px;
}

.own {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 0;
  row-gap: 70px;
  margin-bottom: 100px;
}

.projects-container img {
  width: 420px;
  cursor: pointer;
  box-shadow: 0px 0px 20px 5px rgb(70 168 216 / 82%);
}

.projects-container img:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

footer {
  color: white;
  font-size: 32px;
  font-family: "Satisfy", cursive;
}

footer a {
  text-decoration: none;
  color: inherit;
  font-size: 38px;
}

.course {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  row-gap: 70px;
  column-gap: 70px;
  margin-bottom: 100px;
  font-size: 0;
}

/* Smaller screens */
@media screen and (max-width: 768px) {
  body {
    width: 100%;
    margin: 0px;
  }

  .main-title p {
    font-size: 70px;
    margin: 0px 10px;
    padding: 15px;
  }

  .projects-container {
    flex-direction: column;
  }

  .projects-container p {
    font-size: 50px;
  }

  .projects-container img {
    width: 80%;
  }

  .course {
    grid-template-columns: auto;
  }
}
